/* VARIABLES */
:root {
    --text-color: #cccccc;
    --border-color: #2b2b2b;
    --primary-background-color: #181818;
    --secondary-background-color: #1f1f1f;

    --buton-text-color: #ffffff;
    --button-border-color: #1282d7;
    --button-background-color: #0078d4;
    --button-background-hover-color: #026ec1;

    --input-text-color: #737373;
    --input-border-color: #3c3c3c;
    --input-background-color: #313131;
}

/* RESET CSS */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
}

::-webkit-scrollbar-track {
    border: 1px solid #0f1113;
    background-color: var(--secondary-background-color);
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #434343;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #4f4f4f;
}

/* GENERAL */
body {
    width: 100%;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--primary-background-color);
}

::selection {
    background-color: #7fa0c1;
}

/* HEADER */
header {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}

/* MAIN */
main {
    width: 100%;
    height: calc(100% - 8rem);
}

h1 {
    color: #519aba;
}

h2 {
    margin-bottom: 1rem;
}

hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--border-color);
}

/* TOP */
#top-container {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}

/* Node manager */
#node-manager-container {
    width: 30%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--border-color);
}

#node-manager {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#node-manager input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    color: var(--input-text-color);
    border: 1px solid var(--input-border-color);
    background-color: var(--input-background-color);
}

#node-manager input[type="number"] {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    color: var(--input-text-color);
    border: 1px solid var(--input-border-color);
    background-color: var(--input-background-color);
}

#node-manager input:focus {
    outline: 2px solid var(--button-background-color);
}

#node-manager button {
    width: 100%;
    padding: 1rem;
    color: var(--buton-text-color);
    border: 1px solid var(--button-border-color);
    border-radius: 0.1rem;
    background-color: var(--button-background-color);
    cursor: pointer;
}

#node-manager button:hover {
    background-color: var(--button-background-hover-color);
}

.buttons-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#reset-button {
    color: var(--buton-text-color) !important;
    border: 1px solid #e34a6f !important;
    background-color: #dc143c !important;
}

#reset-button:hover {
    background-color: #cc143c !important;
}

/* Code viewer */
#code-viewer-container {
    width: 70%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

#code-viewer {
    position: relative;
    width: 100%;
    height: 100%;
}

pre {
    width: 100%;
    height: calc(100% - 2.75rem);
    margin: 0 !important;
    border: 1px solid var(--border-color) !important;
    border-radius: 0 !important;
    background-color: var(--secondary-background-color) !important;
}

#copy-code-button {
    position: absolute;
    top: 0;
    right: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    color: var(--text-color);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* BOTTOM */
#bottom-container {
    width: 100%;
    height: 30%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}

#list-viewer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    border: 1px solid var(--border-color);
    background-color: var(--secondary-background-color);
}

#nodes-container {
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.node-wrapper {
    display: flex;
    flex-direction: column;
}

.node-position {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.node-container {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
}

.prev-container {
    padding: 0.5rem;
    width: 5rem;
    text-align: center;
    color: green;
    border: 0.5px solid black;
}

.value-container {
    padding: 0.5rem 1rem;
    text-align: center;
    border: 0.5px solid black;
}

.next-container {
    padding: 0.5rem;
    width: 5rem;
    text-align: center;
    color: red;
    border: 0.5px solid black;
}

.arrows-container {
    min-width: 3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arrow-right {
    position: relative;
    min-width: 50px;
    margin-top: 18px;
    height: 2px;
    background-color: red;
}

.arrow-right::after {
    content: "";
    position: absolute;
    top: -4px;
    right: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid red;
}

.arrow-left {
    width: 50px;
    height: 2px;
    margin-top: 10px;
    position: relative;
    background-color: green;
}

.arrow-left::after {
    content: "";
    position: absolute;
    top: -4px;
    left: -5px;
    border-top: 5px solid transparent;
    border-right: 10px solid green;
    border-bottom: 5px solid transparent;
}

/* FOOTER */
footer {
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}